{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!

    @template theme_boost/navbar

    This template renders the top navbar.

    Example context (json):
    {
        "output": {
            "should_display_navbar_logo": true,
            "get_compact_logo_url": "http://placekitten.com/50/50",
            "custom_menu": "<li>..</li>",
            "page_heading_menu": "<li>..</li>",
            "search_box": "<div><input type='text'></div>",
            "navbar_plugin_output": "<div class='dropdown'>Messaging</div>",
            "user_menu": "<div class='dropdown'>John Doe</div>"
        },
        "config": {
            "wwwroot": "#"
        },
        "sitename": "Moodle Site"
    }
}}
<nav id="moodlenavbar" class="navbar moremenu responsive" aria-label="{{#str}}sitemenubar, admin{{/str}}">
    <button class="primary-nav-toggler" data-toggle="collapse" data-target="#primarynav" aria-controls="primarynav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="{{{ config.wwwroot }}}" class="brand">
        {{# output.should_display_navbar_logo }}
            <span class="logo">
                <img src="{{output.get_compact_logo_url}}" alt="{{sitename}}">
            </span>
        {{/ output.should_display_navbar_logo }}
        {{^ output.should_display_navbar_logo }}
        <span class="site-name">{{{ sitename }}}</span>
        {{/ output.should_display_navbar_logo }}
    </a>

    <div id="primarynav" class="navbar-moremenu-wrapper collapse">
        <ul class="nav primary-nav listitems" role="menu" data-region="moremenulistitems">
            <!-- custom_menu -->
            {{{ output.custom_menu }}}
            <!-- page_heading_menu -->
            {{{ output.page_heading_menu }}}
        </ul>
        <ul class="nav primary-nav morenav">
            <li class="nav-item dropdown">
                <a class="dropdown-toggle nav-link d-none mr-1" href="#" data-action="moremenumore" aria-expanded="false">
                    {{#str}}more, core{{/str}}
                </a>
                <ul class="moremenu_popup dropdown-menu menu align-tr-br show d-none" role="menu" data-region="moremenupopup">
                </ul>
            </li>
        </ul>
    </div>

    <ul class="nav language-menu">
        {{{ output.language_menu }}}
    </ul>

    {{{ output.search_box }}}

    {{{ output.navbar_plugin_output }}}

    {{{ output.user_menu }}}

</nav>
{{#js}}
require(['core/moremenu'], function(moremenu) {
    var moreMenu = document.querySelector('#moodlenavbar');
    moremenu.init(moreMenu);
});
{{/js}}

