  <form class="form-inline" action="{{{action}}}">
    <div class="input-group">
        <input type="search" class="form-control"  placeholder="{{placeholder}}" aria-label="Search">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">
                {{#pix}}a/search, moodle, {{#str}}search{{/str}}{{/pix}}
            </button>
        </div>
    </div>
  </form>