// Gray scale
$gray-100: #f5f8fa;
$gray-200: #d4dbe0;
$gray-300: #9da9b0;
$gray-500: #536570;
$gray-700: #1e3948;
$gray-800: #122a38;

// Brand Scale
$theme-colors: (
  primary: #3097D1,
  secondary: $gray-200,
  success: #5cb85c,
  info: #5bc0de,
  warning: #f0ad4e,
  danger: #d9534f,
  light: $gray-100,
  dark: $gray-800
);

// @import "./bootstrap/_functions.scss";
// @import "./bootstrap/_variables.scss";

