{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="profile-header">
    <div class="view-toggle btn-container">
        <button class="btn btn-link show-contacts" data-action="show-contacts">&lt; {{#str}} contacts, message {{/str}}</button>
    </div>
</div>
<div class="profile p-4" data-userid="{{userid}}" data-region="profile">
    <div class="user-container d-flex">
        <a data-action="profile-view" href="#">
            <img class="profile-picture" src="{{profileimageurl}}"
                 alt="{{#str}}pictureof, moodle, {{fullname}}{{/str}}"
                 title="{{#str}}pictureof, moodle, {{fullname}}{{/str}}" />
        </a>
        <div class="name-container mt-3 ml-2">
            <div class="name">{{fullname}}</div>
            {{#showonlinestatus}}
                <div class="status {{#isonline}}online{{/isonline}}">
                    <div class="online-text text-success">{{#str}} online, message {{/str}}</div>
                    <div class="offline-text text-danger">{{#str}} offline, message {{/str}}</div>
                </div>
            {{/showonlinestatus}}
        </div>
    </div>
    <ul class="information list-unstyled mt-3">
        {{#email}}
            <li>
                <dl>
                    <dt>{{#str}} email {{/str}}</dt>
                    <dd>{{.}}</dd>
                </dl>
            </li>
        {{/email}}
        {{#country}}
            <li>
                <dl>
                    <dt>{{#str}} country {{/str}}</dt>
                    <dd>{{country}}</dd>
                </dl>
            </li>
        {{/country}}
        {{#city}}
            <li>
                <dl>
                    <dt>{{#str}} city {{/str}}</dt>
                    <dd>{{city}}</dd>
                </dl>
            </li>
        {{/city}}
    </ul>
    <div class="actions mt-5">
            <a data-action="profile-send-message" class="btn btn-primary" href="#">{{#str}}sendmessage, message{{/str}}</a>
            {{#isblocked}}
                <a data-action="profile-unblock-contact" class="btn btn-warning" href="#">{{#str}}unblockcontact, message{{/str}}</a>
            {{/isblocked}}
            {{^isblocked}}
                <a data-action="profile-block-contact" class="btn btn-danger" href="#">{{#str}}blockcontact, message{{/str}}</a>
            {{/isblocked}}
            {{#iscontact}}
                <a data-action="profile-remove-contact" class="btn btn-danger" href="#">{{#str}}removecontact, message{{/str}}</a>
            {{/iscontact}}
            {{^iscontact}}
                <a data-action="profile-add-contact"  class="btn btn-success" href="#">{{#str}}addcontact, message{{/str}}</a>
            {{/iscontact}}
        
    </div>
</div>
