<ul class="list-unstyled">
    <li class="contact py-2">
        <div class="wrap">
            <span class="    online"></span>
            <img src="{{{path}}}/anthonio.png" class="rounded-circle" alt="" />
            <div class="meta">
                <p class="name mb-1">Antonio</p>
                <p class="preview">As much as possible.</p>
            </div>
            <span class="time">9:45</span>
        </div>
    </li>
    <li class="contact active">
        <div class="wrap">
            <span class="contact-status busy"></span>
            <img src="{{{path}}}/laura.jpg" class="rounded-circle" alt="" />
            <div class="meta">
                <p class="name mb-1">Laura Leache</p>
                <p class="preview">Hallo wij zijn Theo en Thea, is dat niet leuk hiep hiep hoera</p>
            </div>
            <span class="time">10:23</span>
        </div>
    </li>
    <li class="contact">
        <div class="wrap">
            <span class="contact-status away"></span>
            <img src="{{{path}}}/edgar.jpg" class="rounded-circle" alt="" />
            <div class="meta">
                <p class="name mb-1">Edgar Elan</p>
                <p class="preview">No it's the second activity</p>
            </div>
            <span class="time">10:23</span>
        </div>
    </li>
    <li class="contact">
        <div class="wrap">
            <span class="contact-status online"></span>
            <img src="{{{path}}}/tim.jpg" class="rounded-circle" alt="" />
            <div class="meta">
                <p class="name mb-1">Tim Toggle</p>
                <p class="preview">Please enrol in the new English course</p>
            </div>
            <span class="time">10:23</span>
        </div>
    </li>
    <li class="contact">
        <div class="wrap">
            <span class="contact-status busy"></span>
            <img src="{{{path}}}/freddy.jpg" class="rounded-circle" alt="" />
            <div class="meta">
                <p class="name mb-1">Freddy Fingers</p>
                <p class="preview">Where have you been Chris?</p>
            </div>
            <span class="time">10:23</span>
        </div>
    </li>
    <li class="contact">
        <div class="wrap">
            <span class="contact-status"></span>
            <img src="{{{path}}}/irene.jpg" class="rounded-circle" alt="" />
            <div class="meta">
                <p class="name mb-1">Irene Ipsen</p>
                <p class="preview">Thanks Chris! :)</p>
            </div>
            <span class="time">15:45</span>
        </div>
    </li>
    <li class="contact">
        <div class="wrap">
            <span class="contact-status"></span>
            <img src="{{{path}}}/paulo.jpg" class="rounded-circle" alt="" />
            <div class="meta">
                <p class="name mb-1">Paulo Paste</p>
                <p class="preview">Have a look at this!</p>
            </div>
            <span class="time">16:45</span>
        </div>
    </li>
    <li class="contact">
        <div class="wrap">
            <span class="contact-status busy"></span>
            <img src="{{{path}}}/henry.jpg" class="rounded-circle" alt="" />
            <div class="meta">
                <p class="name">Henry Hobel</p>
                <p class="preview">Why? Haven't you been there yesterday?</p>
            </div>
            <span class="time">17:45</span>
        </div>
    </li>
    <li class="contact">
        <div class="wrap">
            <span class="contact-status"></span>
            <img src="{{{path}}}/zafron.jpg" class="rounded-circle" alt="" />
            <div class="meta">
                <p class="name">Zafron Zokko</p>
                <p class="preview">As long as you send it in by Friday.</p>
            </div>
            <span class="time">18:45</span>
        </div>
    </li>
    <li class="contact">
        <div class="wrap">
            <span class="contact-status"></span>
            <img src="{{{path}}}/bertus.gif" class="rounded-circle" alt="" />
            <div class="meta">
                <p class="name">Bertus Blue</p>
                <p class="preview"><span>You:</span> Please stop!.</p>
            </div>
            <span class="time">19:45</span>
        </div>
    </li>
</ul>