<div class="card border-0">
    <div id="{{$name}}name{{/name}}" class="card-header p-1">
        <button class="btn btn-link" data-toggle="collapse" data-target="#{{$name}}name{{/name}}_target" aria-expanded="true" aria-controls="{{$name}}name{{/name}}_target">
            <i class="fa fa-caret-right mr-1"></i>{{$header}}{{/header}}
        </button>
    </div>
    <div id="{{$name}}name{{/name}}_target" class="collapse  {{$classes}}{{/classes}}" aria-labelledby="{{$name}}name{{/name}}" data-parent="{{$parent}}parent{{/parent}}">
        {{$content}}content{{/content}}
    </div>
</div>