<div id="conversation" class="messages">
    <ul class="m-0">
        <li class="message pl-1 pr-1 sent">
            <img src="{{{path}}}/chris.jpg" class="rounded-circle" alt="" />
            <p>Lorum my ipsum please.</p>
        </li>
        <li class="message pl-1 pr-1 replies">
            <img src="{{{path}}}/chris.jpg" class="rounded-circle" alt="" />
            <p>Nam in ligula vel velit dapibus tempus. Maecenas mollis sem et lectus lacinia, ut imperdiet quam ornare. Aliquam non rutrum augue, quis semper justo.</p>
        </li>
        <li class="message pl-1 pr-1 replies">
            <img src="{{{path}}}/chris.jpg" class="rounded-circle" alt="" />
            <p>Nam lacinia ex quis neque convallis, sit amet rutrum ipsum bibendum.</p>
        </li>
        <li class="message pl-1 pr-1 sent">
            <img src="{{{path}}}/laura.jpg" class="rounded-circle" alt="" />
            <p>Vivamus accumsan ligula ac magna dapibus maximus.</p>
        </li>
        <li class="message pl-1 pr-1 replies">
            <img src="{{{path}}}/chris.jpg" class="rounded-circle" alt="" />
            <p>Aenean rhoncus porta vehicula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </li>
        <li class="message pl-1 pr-1 replies">
            <img src="{{{path}}}/chris.jpg" class="rounded-circle" alt="" />
            <p> Sed a lobortis tortor. In vel tortor volutpat, commodo ante non, interdum elit. Integer tristique erat eu lacus eleifend ultrices.</p>
        </li>
        <li class="message pl-1 pr-1 sent">
            <img src="{{{path}}}/laura.jpg" class="rounded-circle" alt="" />
            <p>Aenean rhoncus?</p>
        </li>
        <li class="message pl-1 pr-1 replies">
            <img src="{{{path}}}/chris.jpg" class="rounded-circle" alt="" />
            <p>In vel tortor volutpat</p>
        </li>
    </ul>
</div>	