/* Anchor link offset fix. This makes hash links scroll 60px down to account for the fixed header. */
$fixed-header-y: $navbar-height;

$drawer-width: 285px !default;
$drawer-padding-x: 20px !default;
$drawer-padding-y: 20px !default;
$drawer-offscreen-gutter: 20px !default;

:target::before {
    content: " ";
    display: block;
    height: ($fixed-header-y + 10px); /* fixed header height*/
    margin-top: -($fixed-header-y + 10px); /* negative fixed header height */
    width: 1px;
    pointer-events: none;
}

