/** The message area **/

$controlwidth: 300px;

@mixin setSelectedContact() {
    background-color: $list-group-action-active-bg;
    color: $list-group-action-color;
}

.hidden {
    display: none;
}

.messaging-area-container {
    margin-bottom: 30px;

    .scroll {
        overflow-y: scroll;
        flex: 1 1 auto;
    }

    .status {
        .online-text {
            display: none;
        }

        &.online {
            .online-text {
                display: block;
            }
            .offline-text {
                display: none;
            }
        }
    }

    .card-footer {
        min-height: 2.7rem;
    }
    .contacts-footer .tabs {
        padding: 0.14rem;
    }

    .messaging-area {
        display: flex;
        flex-flow: row;

        .picture {
            @include border-radius(50%);
            width: 3rem;
            height: 3rem;
        }

        .contacts-area {
            flex-basis: $controlwidth;
            border: $border-width solid $border-color;
            display: flex;
            flex-direction: column;

            .searchtextarea {
                padding: 0.25rem;
                height: 3.3rem;
            }

            .searchfilterarea {
                cursor: pointer;
            }

            .searcharea .course:hover {
                cursor: pointer;
            }

            .contacts {
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;

                .nocontacts {
                    padding-top: 20px;
                    text-align: center;
                }

                .contact {
                    border-bottom: 1px solid $dropdown-divider-bg;
                    cursor: pointer;
                    &.unread {
                        font-weight: $font-weight-bold;
                        .unread-count-container {
                            display: inline-block;
                        }
                    }

                    &:hover {
                        @include setSelectedContact();
                        background-color: $list-group-hover-bg;
                        color: color-yiq($list-group-hover-bg);
                    }

                    &.selected {
                        @include setSelectedContact();
                        background-color: $list-group-active-bg;
                        color: color-yiq($list-group-active-bg);
                    }

                    .picture {
                        @include border-radius(50%);
                        width: 2.5rem;
                        height: 2.5rem;
                    }

                    .information {
                        .lastmessage {
                            min-width: 0;
                            flex: 1;
                            .last-message-text {
                                display: block;
                                width: 200px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                    }

                    .unread-count-container {
                        display: none;
                    }
                    .icon {
                        margin: 0;
                    }
                }
            }

            .tabs {
                .tab {
                    cursor: pointer;
                }
            }
        }

        .messages-area {
            display: flex;
            flex-basis: calc(100% - #{$controlwidth});
            flex-direction: column;
            border: $border-width solid $border-color;

            .btn-container {

                &.view-toggle {
                    display: none;
                }

                &.delete-all {
                    display: none;
                }
            }

            .profile-header {
                height: 3.3rem;
                line-height: 3.3rem;
                display: none;

                .btn-container {
                    display: block;
                }
            }

            .profile {
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;

                .user-container {

                    .profile-picture {
                        @include border-radius(50%);
                    }
                }
            }

            .messages-header {
                height: 3.3rem;
                border-bottom: 1px solid $dropdown-divider-bg;

                .delete-instructions {
                    display: none;
                }

                .actions {
                    .cancel-messages-delete {
                        display: none;
                    }
                }
            }

            .messages {
                overflow-y: auto;
                overflow-x: hidden;
                -webkit-overflow-scrolling: touch;

                .message {

                    .content {
                        border: 1px solid $dropdown-divider-bg;
                        word-wrap: break-word;
                        position: relative;

                        .text {
                            display: block;

                            p {
                                margin: 0;
                            }
                        }

                        .timesent {
                            float: right;
                        }
                    }

                    .content.left {
                        margin-left: auto;
                    }

                    .content.right {
                        margin-right: auto;
                    }
                }
            }

            .response {
                padding: 0.2rem;
                .delete-confirmation {
                    display: none;
                }
            }

            &.editing {
                .messages-header {
                    .btn-container {
                        &.view-all {
                            display: none;
                        }

                        &.delete-all {
                            display: block;
                        }
                    }

                    .delete-instructions {
                        display: block;
                    }

                    .name-container {
                        display: none;
                    }

                    .actions {
                        .messages-delete {
                            display: none;
                        }

                        .cancel-messages-delete {
                            display: block;
                        }
                    }
                }

                .messages {
                    .message {
                        cursor: pointer;

                        &[aria-checked="true"] {
                            .content {
                                background-color: $list-group-active-bg;
                                color: color-yiq($list-group-active-bg);

                                .timesent {
                                    color: color-yiq($list-group-active-bg);
                                }
                            }
                        }

                        &[aria-checked="false"] {
                            .content {
                                &:hover {
                                    background-color: $list-group-hover-bg;
                                    color: color-yiq($list-group-hover-bg);

                                    .timesent {
                                        color: color-yiq($list-group-hover-bg);
                                    }
                                }
                            }
                        }
                    }
                }

                .response {
                    .delete-confirmation {
                        display: block;
                    }

                    .message-box {
                        display: none;
                    }
                }
            }
        }
    }
}

.preferences-container {
    .preference-table {
        thead {
            th {
                .config-warning {
                    display: none;
                }

                &.unconfigured {
                    .config-warning {
                        display: inline-block;
                    }
                }
            }
        }
        tr {
            td {
                &:not(:first-child) {
                    width: 150px;
                    text-align: center;
                }
                &:nth-child(even) {
                    background-color: $table-accent-bg;
                }
            }
            th:nth-child(even) {
                background-color: $table-accent-bg;
            }
        }
        .preference-row {
            .hover-tooltip-container {
                display: inline-block;
            }

            .preference-name {
                vertical-align: middle;
            }
            .disabled-message {
                text-align: center;
                height: 30px;
                line-height: 30px;
            }
            .preference-state {
                margin: 0;
                padding: 0;
                display: inline-block;
                vertical-align: middle;

                input[type="checkbox"]:checked + .preference-state-status-container {
                    i.fa {
                        color: $success;
                    }

                    .on-text {
                        display: inline-block;
                    }
                    .off-text {
                        display: none;
                    }
                }
                .preference-state-status-container {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    border-radius: 4px;
                    i.fa {
                        color: $danger;
                    }
                    cursor: pointer;

                    .loading-icon {
                        display: none;
                    }
                    .on-text {
                        display: none;
                    }
                    .off-text {
                        display: inline-block;
                    }
                }
                &.loading {
                    input[type="checkbox"]:checked + .preference-state-status-container {
                        .on-text,
                        .off-text {
                            display: none;
                        }
                    }

                    .preference-state-status-container {
                        .on-text,
                        .off-text {
                            display: none;
                        }
                        .loading-icon {
                            display: block;
                        }
                    }
                }
            }
            &.loading {
                .preference-name {
                    .loading-icon {
                        display: block;
                    }
                }
            }
        }
    }
}

.disabled-message {
    display: none;
}

.disabled {
    .disabled-message {
        display: block;

        + form {
            display: none;
        }
    }
}

.general-settings-container {
    .loading-icon {
        display: none;
    }
    .loading {
        .loading-icon {
            display: inline-block;
        }
    }
    label {
        display: inline-block;
    }
}
.processor-container {
    position: relative;

    .loading-container {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);

        .vertical-align {
            height: 100%;
            width: 0%;
            display: inline-block;
            vertical-align: middle;
        }
    }

    &.loading {
        .loading-container {
            display: block;
        }
    }
}

.preferences-page-container .checkbox-container {
    .loading-icon {
        display: none;
    }

    &.loading .loading-icon {
        display: inline-block;
    }
}

.notification-area {
    display: flex;
    flex-flow: row;
    .control-area {
        display: flex;
        flex-basis: $controlwidth;
        flex-direction: column;
        min-height: 50rem;
        flex-grow: 0;
        flex-shrink: 0;
        border: $border-width solid $border-color;

        .content {
            position: relative;

            .content-item-container {
                cursor: pointer;
            }

            &:empty + .empty-text {
                display: block;
            }
        }

        .loading-icon {
            display: none;
        }

        .empty-text {
            display: none;
            text-align: center;
            padding-top: 20px;
        }

        &.loading {
            .loading-icon {
                display: block;
                text-align: center;
                box-sizing: border-box;
                padding: 5px;
            }

            .content:empty + .empty-text {
                display: none;
            }
        }
    }

    .content-area {
        display: flex;
        flex-direction: column;
        min-height: 50rem;
        flex-basis: calc(100% - #{$controlwidth});
        border: $border-width solid $border-color;
        margin-left: -$border-width;
        .toggle-mode {
            display: none;
        }

        .header {

            .image-container {
                display: inline-block;
                height: 25px;
                width: 24px;
                float: left;
            }

            .subject-container {
                display: inline-block;
                max-width: calc(100% - 24px);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 25px;
                padding-left: 5px;
            }

            .timestamp {
                font-size: $small-font-size;
                color: $text-muted;
                margin-left: 30px;
            }

            &:empty {
                display: none;
            }
        }

        > .content {
            box-sizing: border-box;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            padding: 15px;

            &:empty {
                display: none;

                & + .empty-text {
                    display: block;
                    text-align: center;
                    padding-top: 100px;
                }
            }
        }

        .empty-text {
            display: none;
        }

        .footer {
            height: 3.3rem;
            box-sizing: border-box;
            text-align: center;

            a {
                line-height: 3.3rem;
            }

            &:empty {
                display: none;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .messaging-area-container {
        flex: 1;
        overflow: hidden;
        .messaging-area {
            position: relative;
            white-space: nowrap;
            transform: translateX(0%);
            transition: transform 0.25s ease-in-out;
            flex-flow: row;

            .contacts-area {
                width: 100%;
                flex-basis: 100%;
                flex-shrink: 0;
                display: inline-block;
                margin-left: 0;
                white-space: normal;
            }

            .messages-area {
                width: 100%;
                flex-basis: 100%;
                display: inline-block;
                margin-left: 0;
                flex-shrink: 0;
                white-space: normal;
            }

            &.show-messages {
                transform: translateX(-100%);
            }

            .messages-area {
                .messages-header {
                    .btn-container {
                        &.view-toggle {
                            display: block;
                        }

                        &.delete-all {
                            display: none;
                        }
                    }
                }

                .profile-header {
                    display: block;
                }

                &.editing {
                    .messages-header {
                        .btn-container {
                            &.view-toggle {
                                display: none;
                            }

                            &.delete-all {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    .notification-area-container {
        flex: 1;
        overflow: hidden;
    }
    .notification-area {
        position: relative;
        white-space: nowrap;
        transform: translateX(0%);
        transition: transform 0.25s ease-in-out;
        flex-flow: row;

        .control-area {
            width: 100%;
            flex-direction: unset;
            display: inline-block;
            flex-basis: 100%;
            white-space: normal;
        }

        .content-area {
            width: 100%;
            flex-basis: 100%;
            flex-shrink: 0;
            display: inline-block;
            margin-left: 0;
            white-space: normal;

            .toggle-mode {
                display: block;
            }

            .header {
                border-left: $border-width solid $border-color;
            }
        }

        &.show-content-area {
            transform: translateX(-100%);
        }
    }
}

@media (max-width: 480px) {
    .messaging-area-container {
        .messaging-area {
            .messages-area {
                &.editing {
                    .messages-header {
                        height: 80px;

                        .delete-all {
                            top: 30px;
                        }

                        .actions {
                            top: 30px;
                        }
                    }
                }
            }
        }
    }
}
