.navbar.navbar-secure {
    justify-content: start;
}

$navbarhighlight: #f98012;
$navbar-color: #212529;

/** Navbar logo. */
@mixin customnavlink-lg($navbarhighlight) {
    color: $navbar-color;
    padding: 0 0.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    &.disabled {
        color: $navbar-light-disabled-color;
    }
    &:hover,
    &:focus,
    &.active,
    &.active_tree_node {
        box-shadow: none;
        outline: 0;
        border-bottom: 3px solid $navbarhighlight;
    }
}

@mixin customnavlink-sm() {
    color: $navbar-color;
    padding: 0.75rem 1.25rem;
    background-color: $white;
    border: $border-width solid $border-color;
    border-left: 5px solid transparent;
    width: 100%;
    &:hover,
    &:focus {
        border-left: 5px solid $navbarhighlight;
    }
}

#moodlenavbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;
    flex-wrap: nowrap;
    background-color: $white;
    display: flex;
    padding: 0 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    align-items: stretch;
    height: $navbar-height;
}

#secondarynavnav {
    opacity: 0;
    border-bottom: $border-width solid $navbar-color;
    height: 45px;
    &.observed {
        opacity: 1;
    }
    .nav > .nav-item {
        height: 44px;
    }
    .nav > .nav-item > .nav-link {
        @include customnavlink-lg($navbarhighlight);
        font-weight: bold;
        padding: 0 1rem;
    }
}

@include media-breakpoint-up(lg) {
    #primarynav {
        opacity: 0;
        height: 60px;
        flex: 1 1 auto;
        &.observed {
            opacity: 1;
        }
        .nav > .nav-item {
            height: 59px;
        }
        .nav > .nav-item > .nav-link {
            @include customnavlink-lg($navbarhighlight);
            font-weight: bold;
            padding: 0 1rem;
        }
        .dropdownmoremenu > .dropdown-menu {
            & > .dropdown-item {
                padding: 0;
            }
            .dropdown-menu {
                position: static;
                display: block;
                border: 0;
                padding: 0;
                margin: 0;
                .dropdown-item {
                    background-color: #F7F7F7;
                    color: $navbar-color;
                    @include hover-focus() {
                        color: $dropdown-link-hover-color;
                        @include gradient-bg($dropdown-link-active-bg);
                    }
                }
                .dropdown-divider {
                    display: none;
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    #primarynav {
        transition: right 0.5s ease, left 0.5s ease;
        position: fixed;
        width: 285px;
        top: $navbar-height;
        height: calc(100% - #{$navbar-height});
        z-index: $zindex-dropdown - 1;
        background-color: $white;
        left: -305px;
        &.show {
            left: 0;
        }
        .primary-nav-close {
            position: absolute;
            right: -42px;
            top: 0;
        }
        .nav {
            height: 100%;
            overflow-y: auto;
            flex-wrap: nowrap;
            margin: 0;
            flex-direction: column;
            border-left: $border-width solid $border-color;
            .nav-item {
                margin-bottom: -1px;
                visibility: visible;
                .nav-link {
                    @include customnavlink-sm();
                }
            }
        }
        .dropdown-menu {
            position: static;
            border: 0;
            padding: 0;
            margin: 0;
            width: 100%;
            .dropdown-item {
                margin-top: -1px;
                @include customnavlink-sm();
                padding-left: 1rem;
                background-color: #F7F7F7;
            }
            .dropdown-divider {
                display: none;
            }
        }
    }
}

#moodlenavbar {
    .brand {
        color: rgba(0, 0, 0, 0.9);
        height: 100%;
        display: flex;
        align-items: center;
        @include font-size($navbar-brand-font-size);
        @include customnavlink-lg($navbarhighlight);
    }

    .primary-nav-toggler {
        display: none;
        .navbar-toggler-icon {
            background-image: escape-svg($navbar-light-toggler-icon-bg);
        }
    }
    @include media-breakpoint-down(md) {
        .brand {
            margin-right: auto;
        }
        .primary-nav-toggler {
            border-left: 0;
            border-right: 0;
            background-color: $white;
            @include customnavlink-lg($navbarhighlight);
        }
    }

    .logo img {
        max-height: 50px;
    }

    .language-menu {
        display: flex;
        align-items: stretch;
        .nav-link {
            @include customnavlink-lg($navbarhighlight);
        }
    }

    .usernav {
        flex-wrap: nowrap;
        align-items: center;
        .nav-link {
            @include customnavlink-lg($navbarhighlight);
        }
    }

    .simplesearchform {
        display: flex;
        align-items: center;
        .btn-open {
            @include customnavlink-lg($navbarhighlight);
        }
    }

    .popover-region {
        .nav-link {
            @include customnavlink-lg($navbarhighlight);
        }
    }

    .usermenu {
        display: flex;
        .action-menu,
        .action-menu-trigger {
            display: flex;
        }
        .dropdown-toggle {
            @include customnavlink-lg($navbarhighlight);
        }
        .login {
            display: flex;
            white-space: nowrap;
            align-items: center;
        }
    }
}

// .navbar.moremenu {


//     &.responsive {
//         .navbar-moremenu-wrapper {
//             flex-flow: row nowrap;
//             justify-content: flex-start;
//             overflow-x: hidden;
//             display: flex;
//             align-items: stretch;
//             margin-right: auto;
//             height: 45px;
//             @include media-breakpoint-up(lg) {
//                 .primary-nav {
//                     flex-direction: row;
//                     flex-wrap: nowrap;
//                     & > .nav-item {
//                         align-items: center;
//                         &.dropdown {
//                             position: inherit;
//                             .dropdown-menu {
//                                 left: auto;
//                             }
//                         }
//                         & > .nav-link {
//                             @include customnavlink-lg($navbarhighlight);
//                             font-weight: bold;
//                             padding: 0 1rem;
//                         }
//                     }
//                 }
//             }
//         }
//         @include media-breakpoint-down(md) {
//             .brand {
//                 margin-right: auto;
//             }
//             .primary-nav-toggler {
//                 border-left: 0;
//                 border-right: 0;
//                 background-color: $white;
//                 @include customnavlink-lg($navbarhighlight);
//             }
//             .morenav {
//                 display: none;
//             }
//             .navbar-moremenu-wrapper {
//                 transition: right 0s ease, left 0s ease;
//                 position: fixed;
//                 width: 285px;
//                 top: 60px;
//                 height: calc(100% - #{$navbar-height});
//                 overflow-y: auto;
//                 -webkit-overflow-scrolling: touch;
//                 z-index: $zindex-dropdown - 1;
//                 background-color: $white;
//                 left: -(285px + 20px);
//                 &.collapse.show {
//                     left: 0;
//                 }

//                 .dropdown-menu {
//                     position: static;
//                     border: 0;
//                     border-left: $border-width solid $border-color;
//                     padding: 0;
//                     margin: 0 0 0 0.25rem;
//                     width: calc(100% - 0.25rem);
//                     .dropdown-item {
//                         margin-top: -1px;
//                         @include customnavlink-sm();
//                     }
//                     .dropdown-divider {
//                         display: none;
//                     }
//                 }
//                 .primary-nav {
//                     overflow: auto;
//                     flex-wrap: nowrap;
//                     margin: 0;
//                     flex-direction: column;
//                     border-left: $border-width solid $border-color;
//                     .nav-item {
//                         margin-bottom: -1px;
//                         visibility: visible;
//                         .nav-link {
//                             @include customnavlink-sm();
//                         }
//                     }
//                 }
//             }
//         }
//     }
//     &.static {
//         .navbar-moremenu-wrapper {
//             flex-flow: row nowrap;
//             justify-content: flex-start;
//             overflow-x: hidden;
//             display: flex;
//             align-items: stretch;
//             margin-right: auto;
//             .primary-nav {
//                 flex-direction: row;
//                 flex-wrap: wrap;
//                 & > .nav-item {
//                     align-items: center;
//                     height: 45px;
//                     &.dropdown {
//                         position: inherit;
//                         .dropdown-menu {
//                             left: auto;
//                         }
//                     }
//                     & > .nav-link {
//                         @include customnavlink-lg($black);
//                         font-weight: bold;
//                         padding: 0 1rem;
//                     }
//                 }
//             }
//         }
//     }

//     .moremenu_popup {
//         // Nav links need to be styled like dropdown items here.
//         .nav-link {
//             display: block;
//             width: 100%;
//             color: $body-color;
//             &:active,
//             &:hover,
//             &:focus,
//             &:focus-within {
//                 color: $white;
//                 outline: 0;
//                 background-color: $dropdown-link-hover-bg;
//             }
//         }
//         // The dropdown menu needs to be static to show inline.
//         .dropdown-menu {
//             position: static;
//             border: 0;
//             .dropdown-item {
//                 padding-left: 2rem;
//             }
//         }
//     }

//     &.responsive {

//     }
// }

// General moremenu styles
// nav.moremenu {
//     .listitems {
//         flex: 1 1 auto;
//         display: flex;
//         overflow-x: auto;
//         opacity: 0;
//         &::-webkit-scrollbar {
//           display: none;
//         }
//         &.observed {
//             overflow: hidden;
//             opacity: 1;
//         }
//         .itemoverflow {
//             visibility: hidden;
//         }
//         .nav-link {
//             white-space: nowrap;
//         }
//     }
// }

// .moremenu_popup {
//     left: auto;
//     &.right {
//         right: 0;
//     }
//     ul {
//         padding: 0;
//         margin:0;
//         list-style: none;
//         display: flex;
//         flex-wrap: wrap;
//     }
// }

// #moremenu-secondary {
//     flex-flow: row nowrap;
//     justify-content: flex-start;
//     overflow-x: hidden;
//     display: flex;
//     align-items: stretch;
//     margin-right: auto;
// }