#moodlenavbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1050;
    padding: $primary-nav-padding-y $primary-nav-padding-x;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    align-items: stretch;
    height: $navbar-height;
    .logo,
    .usermenu,
    .navbar-brand.nav-link,
    .usermenu .dropdown-toggle::after {
        display: none;
    }
    .languagemenu-container {
        display: flex;
    }

    .navbar-toggler {
        border: 0;
    }

    @include media-breakpoint-up(md) {
        .logo,
        .popover-region,
        .usermenu,
        .navbar-brand.nav-link {
            display: block;
        }
    }
    .logo {
        img {
            max-height: calc(#{$navbar-height} - 0.5rem);
        }
    }
    .nav-link {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .divider {
        width: 1px;
        height: 28px;
        background-color: $gray-300;
    }
    #usernavigation.navbar-nav .nav-link {
        padding-right: 0.7rem;
        padding-left: 0.7rem;
    }
}
#page {
    margin-top: $navbar-height;
}